* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

nav {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 15%;
  align-items: center;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.headline {
  max-width: 865px;
  margin: 12px 30%;
}

.content {
  max-width: 620px;
  margin: 12px 30%;
}

.logo{
    cursor: pointer;
}
